.headerStyle {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;

    width: auto;
    height: 125px;

    background: #262626;
    border-bottom: 4px solid #2271D1;
    box-shadow: 0px 5px 29px rgba(34, 113, 209, 0.7);

}

.logoStyle {
    width: 168.45px;
    height: 40px;
}

.navListStyle {
    list-Style: none;
    display: flex;
    gap: 20px;
}

.btHome {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;

    width: 180.12px;
    height: 54px;

    box-sizing: border-box;

    background: rgba(0, 0, 0, 0.9);
    border: 2px solid #2271D1;
    box-shadow: inset 0px 0px 12px 4px #2271D1;
    border-radius: 10px;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;

    color: #2271D1;
}

.btNewvideo {
    width: 180.12px;
    height: 54px;

    border-radius: 15px;

    box-sizing: border-box;

    border: 2px solid #F5F5F5;
    border-radius: 10px;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.navItemStyle {
    text-Decoration: none;
    color: white;
}